# docker/.env.example
POSTGRES_USER=<postgres-user>
POSTGRES_PASSWORD=<postgres-password>
POSTGRES_DB=<postgres-db>

TENCENTCLOUD_SECRETID=<your-secret-id>
TENCENTCLOUD_SECRETKEY=<your-secret-key>
CLOUDBASE_ENV_ID=<your-env-id>

WX_CLIENT_APPID=<your-appid>
WX_CLIENT_SECRET=<your-secret>
WXACODE_ENV_VERSION=release

WECHAT_BOT_WEBHOOK_URL=
